label.control-label {
    font-size: 1.3em !important;
    color: #757575 !important;
}

input.form-control, select {
    font-size: 1.4em !important;
    color: #009688 !important;
    font-weight: bold !important;
}

i.fa.fa-2x {
    font-size: 1.8em;
}

.card-footer button{
  margin: 15px 25px;
}

.remarksTab{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#revisionsTab{

}

#revisionsTab .dropdown-menu li.active a {
    color: white !important;
    background-color: #337ab7 !important;
}

#revisionsTab .dropdown-menu li.active a:hover {
    color: white !important;
    background-color: #337ab7 !important;
}


#revisionsTab li a {
    color: #212121 !important;
    font-family: raleway;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
}

#revisionsTab .dropdown{
  background-color: #c8c8c8;
    border-radius: 9px;
}

#revisionsTab .dropdown-menu li a:hover {
    background-color: #E0E0E0;
}

textarea{
font-size: 1.2em !important;
font-weight: bold !important;
color: #FF5722 !important;
}
