/*Sidebar fix for logos*/
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper{
  height: auto !important;
}

.card [data-background-color="blue"]{
  background: linear-gradient(60deg, #03A9F4, #1E88E5);
}

.submmitedBy{
  display: inline-block;
  color: black;
}

#submittedBy{
  color: black;
}
.card-header input{
  font-size: 1.5em;
}
.card-header #title{
  font-size: 2.3em;
}

.card-header i{
  color: white;
  font-size: 3em;
}

.form-navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finish-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.finish-message h1{
  font-weight: bold;
  font-family: raleway;
  font-size: 6em;
  color: #343434;
}

.finish-message p{
  font-size: 2em;
  font-family: raleway;
  font-weight: 500;
}

li.active a[data-toggle=tab] {
  cursor: default;
}

li a[data-toggle=tab]{
  cursor: not-allowed;
}

/*.startDateLabel,
.endDateLabel{
  color: white !important;
  font-size: 1.2em !important;
}*/

.card-header .form-group.is-focused .form-control{
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#D2D2D2, #D2D2D2);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab-pane label{
  font-size: 2rem !important;
  font-weight: bold !important;
}

.tab-pane .form-control{
  color: black;
  font-size: 1.7rem;
}

.tab-pane input.form-control[type="number"]{
  color: black;
  font-size: 1.7rem;
}



.tab-pane .form-control::-webkit-input-placeholder {

  font-size: inherit;
}

.tab-pane .form-control:-moz-placeholder { /* Firefox 18- */

  font-size: inherit;
}

.tab-pane .form-control::-moz-placeholder {  /* Firefox 19+ */

  font-size: inherit;
}

.tab-pane .form-control:-ms-input-placeholder {

  font-size: inherit;
}

.tab-pane .form-control[type="number"]::-webkit-input-placeholder {

  font-size: 1.7rem;
}

.tab-pane .form-control[type="number"]:-moz-placeholder { /* Firefox 18- */

  font-size: 1.7rem;
}

.tab-pane .form-control[type="number"]::-moz-placeholder {  /* Firefox 19+ */

  font-size: 1.7rem;
}

.tab-pane .form-control[type="number"]:-ms-input-placeholder {

  font-size: 1.7rem;
}
