

body::after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://hd.unsplash.com/photo-1438302292089-1bfacb810383);
  background-position: center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}


.logo{
  padding-bottom: 30px;
  font-weight: bold;
  color: white;
  font-size: 7em;
}

.login{
  margin: 0 auto;
  width: 400px;

}

.loginForm{
  padding: 40px;
}

.submitButton{
  padding-top: 40px;
}

.createAccount{
  padding-top: 30px;
  margin: 0 auto;
}

.createAccount > a{
  color: white;
  margin: 0 auto;
}

.error{
  visibility: hidden;
}
